<?xml version="1.0"?>
<config>
    <sections>
        <sm_pzoom translate="label" module="sm_pzoom">
            <tab>sm_base</tab>
            <label>SM Product Zoom</label>
            <sort_order>70</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <main_image translate="label">
                    <label>Main image</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <width translate="label">
                            <label>Width</label>
                            <frontend_type>text</frontend_type>
                            <comment>..px. 0 is default size</comment>
                            <sort_order>1</sort_order>
                            <validate>validate-zero-or-greater</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height translate="label">
                            <label>Height</label>
                            <frontend_type>text</frontend_type>
                            <comment>..px. 0 is default size</comment>
                            <sort_order>2</sort_order>
                            <validate>validate-zero-or-greater</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                    </fields>
                </main_image>
                <box_zoom_image translate="label">
                    <label>Box zoom image</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <width translate="label">
                            <label>Width</label>
                            <frontend_type>text</frontend_type>
                            <comment>..px. 0 is default size</comment>
                            <sort_order>1</sort_order>
                            <validate>validate-zero-or-greater</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height translate="label">
                            <label>Height</label>
                            <frontend_type>text</frontend_type>
                            <comment>..px. 0 is default size</comment>
                            <sort_order>2</sort_order>
                            <validate>validate-zero-or-greater</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                    </fields>
                </box_zoom_image>
                <thumbnail_image translate="label">
                    <label>Thumbnail image</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <width translate="label">
                            <label>Width</label>
                            <frontend_type>text</frontend_type>
                            <comment>..px. 0 is default size</comment>
                            <sort_order>1</sort_order>
                            <validate>validate-zero-or-greater</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height translate="label">
                            <label>Height</label>
                            <frontend_type>text</frontend_type>
                            <comment>..px. 0 is default size</comment>
                            <sort_order>2</sort_order>
                            <validate>validate-zero-or-greater</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                    </fields>
                </thumbnail_image>
            </groups>
        </sm_pzoom>
    </sections>
</config>
