<?xml version="1.0"?>
<config>
    <modules>
        <SM_ProductLabel>
            <version>1.0.0</version>
        </SM_ProductLabel>
    </modules>
    <global>
        <blocks>
            <sm_productlabel>
                <class>SM_ProductLabel_Block</class>
            </sm_productlabel>
        </blocks>
        <helpers>
            <sm_productlabel>
                <class>SM_ProductLabel_Helper</class>
            </sm_productlabel>
        </helpers>
        <models>
            <sm_productlabel>
                <class>SM_ProductLabel_Model</class>
                <resourceModel>sm_productlabel_resource</resourceModel>
            </sm_productlabel>
            <sm_productlabel_resource>
                <class>SM_ProductLabel_Model_Resource</class>
                <entities>
                    <sm_productlabel>
                        <table>sm_productlabel</table>
                    </sm_productlabel>
                </entities>
            </sm_productlabel_resource>
        </models>
        <resources>
            <sm_productlabel_setup>
                <setup>
                    <module>SM_ProductLabel</module>
                </setup>
            </sm_productlabel_setup>
        </resources>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <add_product_label_attribute_to_select>
                        <type>singleton</type>
                        <class>SM_ProductLabel_Model_Observer</class>
                        <method>addProductLabelAttributeToSelect</method>
                    </add_product_label_attribute_to_select>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_collection_load_after>
                <observers>
                    <add_product_labels_data_to_product_collection>
                        <type>singleton</type>
                        <class>SM_ProductLabel_Model_Observer</class>
                        <method>addProductLabelsDataToProductCollection</method>
                    </add_product_labels_data_to_product_collection>
                </observers>
            </catalog_product_collection_load_after>
            <model_load_after>
                <observers>
                    <add_product_labels_data_to_product>
                        <type>singleton</type>
                        <class>SM_ProductLabel_Model_Observer</class>
                        <method>addProductLabelsDataToProduct</method>
                    </add_product_labels_data_to_product>
                </observers>
            </model_load_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SM_ProductLabel before="Mage_Adminhtml">SM_ProductLabel_Adminhtml</SM_ProductLabel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_productlabel>
                    <file>sm_productlabel.xml</file>
                </sm_productlabel>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sm_productlabel>
            <general>
                <enable>1</enable>
            </general>
        </sm_productlabel>
    </default>
</config>