<?xml version="1.0"?>
<config>
    <modules>
        <SM_MegaMenu>
            <version>0.1.0</version>
        </SM_MegaMenu>
    </modules>
    <global>
        <helpers>
            <sm_megamenu>
                <class>SM_MegaMenu_Helper</class>
            </sm_megamenu>
        </helpers>
    </global>
</config>