<?xml version="1.0"?>
<config>
    <modules>
        <SM_Featured>
            <version>1.0.0</version>
        </SM_Featured>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_featured>
                    <file>sm_featured.xml</file>
                </sm_featured>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sm_featured>
                <class>SM_Featured_Block</class>
            </sm_featured>
        </blocks>
        <helpers>
            <sm_featured>
                <class>SM_Featured_Helper</class>
            </sm_featured>
        </helpers>
        <models>
            <sm_featured>
                <class>SM_Featured_Model</class>
            </sm_featured>
        </models>
        <resources>
            <sm_featured_setup>
                <setup>
                    <module>SM_Featured</module>
                    <class>SM_Featured_Model_Resource_Setup</class>
                </setup>
            </sm_featured_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <!-- http://magento.sample/index.php/admin/adminhtml_index/index -->
            <adminhtml>
                <args>
                    <modules>
                        <sm_featured before="Mage_Adminhtml">SM_Featured_Adminhtml</sm_featured>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <add_featured_column>
                        <type>singleton</type>
                        <class>SM_Featured_Model_Observer</class>
                        <method>addFeatured</method>
                    </add_featured_column>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <add_featured_massaction_to_catalog_product_grid>
                        <type>singleton</type>
                        <class>SM_Featured_Model_Observer</class>
                        <method>addMassaction</method>
                    </add_featured_massaction_to_catalog_product_grid>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <eav_collection_abstract_load_before>
                <observers>
                    <add_featured_attribute_to_select>
                        <type>singleton</type>
                        <class>SM_Featured_Model_Observer</class>
                        <method>addFeaturedAttributeToSelect</method>
                    </add_featured_attribute_to_select>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
    <default>
        <sm_featured>
            <general>
                <enable>1</enable>
                <show_in_home>1</show_in_home>
                <show_in_category>0</show_in_category>
                <show_label>1</show_label>
                <number_product>15</number_product>
                <slide_per_view>7</slide_per_view>
                <speed>1000</speed>
                <type>simple</type>
                <autoplay>200</autoplay>
            </general>
        </sm_featured>
    </default>
</config>