<?xml version="1.0"?>
<config>
    <modules>
        <SM_Filter>
            <version>1.0.0</version>
        </SM_Filter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_filter>
                    <file>sm_filter.xml</file>
                </sm_filter>
            </updates>
        </layout>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <SM_Filter before="Mage_Catalog">SM_Filter</SM_Filter>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
    <global>
        <blocks>
            <sm_filter>
                <class>SM_Filter_Block</class>
            </sm_filter>
            <catalog>
                <rewrite>
                    <layer_view>SM_Filter_Block_Layer_View</layer_view>
                    <layer_filter_price>SM_Filter_Block_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <sm_filter>
                <class>SM_Filter_Helper</class>
            </sm_filter>
        </helpers>
        <models>
            <sm_filter>
                <class>SM_Filter_Model</class>
            </sm_filter>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>SM_Filter_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_item>SM_Filter_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_price>SM_Filter_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>SM_Filter_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <sm_filter_setup>
                <setup>
                    <module>SM_Filter</module>
                </setup>
            </sm_filter_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <add_navigation_display_type_column>
                        <type>singleton</type>
                        <class>SM_Filter_Model_Observer</class>
                        <method>addNavigationDisplayTypeColumn</method>
                    </add_navigation_display_type_column>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
    <default>
        <sm_filter>
            <general>
                <ajax_enable>0</ajax_enable>
                <price_slider>1</price_slider>
                <price_slider_submit_type>2</price_slider_submit_type>
                <price_slider_delay>3</price_slider_delay>
            </general>
        </sm_filter>
    </default>
</config>