<?xml version="1.0"?>
<config>
    <modules>
        <SM_Bestseller>
            <version>1.0.0</version>
        </SM_Bestseller>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_bestseller>
                    <file>sm_bestseller.xml</file>
                </sm_bestseller>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sm_bestseller>
                <class>SM_Bestseller_Block</class>
            </sm_bestseller>
        </blocks>
        <helpers>
            <sm_bestseller>
                <class>SM_Bestseller_Helper</class>
            </sm_bestseller>
        </helpers>
        <models>
            <sm_bestseller>
                <class>SM_Bestseller_Model</class>
            </sm_bestseller>
        </models>
    </global>
    <default>
        <sm_bestseller>
            <general>
                <enable>1</enable>
                <show_in_home>0</show_in_home>
                <show_in_category>1</show_in_category>
                <show_label>1</show_label>
            </general>
            <home_slider>
                <effect>simple</effect>
                <number_product>15</number_product>
                <slide_per_view>6</slide_per_view>
                <speed>4000</speed>
                <autoplay>2000</autoplay>
                <loop>1</loop>
            </home_slider>
            <category_slider>
                <effect>simple</effect>
                <number_product>10</number_product>
                <slide_per_view>3</slide_per_view>
                <speed>4000</speed>
                <autoplay>2000</autoplay>
                <loop>1</loop>
            </category_slider>
        </sm_bestseller>
    </default>
</config>